# Ignore everything by default
/*

# Config dir
!/.config/
/.config/*

# Git
!/.gitignore
!/.gitignore.global
!/.gitconfig

# Bash
!/.env
!/.bash_aliases

# Inputrc
!/.inputrc

# Tmux
!/.tmux.conf

# Vim
!/.vimrc

# Neovim
!/.config/nvim/
!/.config/nvim/*
/.config/nvim/pack/

# Fzf
!/.config/fzf/
!/.config/fzf/*
